
body {
    background-color: #002255;
}


h1 {
    color: #C5AF7D;
}

h2 {
    color: #002255;
    font-size: 2em;
}

h3 {
    color: #C5AF7D;
}


p {
    color: #9EB25D;
}

.centerDiv {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    vertical-align: central;
}

.paddedDiv {
    margin: 4em;
    padding: 1em;
}

#MainTitle {
    font-family: serif;
    font-size: 40pt;
    margin: 1em;
    margin-bottom: 1.3em;
    text-align: center;
}

.row {
    background-color: #ffffff;
    margin-top: 1em;
    padding: .5em;
}

.projectImage {
    width: 100%;
    max-width: 370px;
    margin-top: 2em;
    padding: 30px;
}

#CorbanImage {
    max-width: 60%;
    height: auto;
    /* For IE 8 we have to have this: */ width: auto\9;
    margin-top: 3vw;
}

/*.roundedCorners {
    border-radius: 1em;
    border: 2px solid rgb(100, 240, 120);
    
    margin: 10px;
}*/

input {
    padding: 8vw;
    margin: 2vw;
    color: red;
    font-family: cursive;
    font-size: 4vw;
}

a {
    text-decoration: underline;
    font-family: monospace;
    font-size: 2em;
    color: #002255;
    margin: .7em;
}

a:hover {
    color: #C5AF7D;
}

ul, ol, li {
    font-size: 12pt;
    
}


@media (max-width: 600px) {
    .row {
        margin: 0px;
    }
    
    body {
      padding: 0px;
    }
    
    #MainTitle {
        margin-left: 0px;
        margin-right: 0px;
    }
}